[updater]

RealmID = 0

# Path to sql files in repo
SqlPath = ""

LoginDatabaseInfo     = "127.0.0.1;3306;trinity;trinity;auth"
CharacterDatabaseInfo = "127.0.0.1;3306;trinity;trinity;characters"
WorldDatabaseInfo     = "127.0.0.1;3306;trinity;trinity;world"

LogsDir = "Logs"
Log.Main.File = "detail.log"
Log.Main.Mode = "w"
Log.Main.Timestamp = 1
